     - obs space:
         name: tcp_112
         use data frame container: true
         redistribution:
           name: "{{distribution_type}}"
           halo size: 500e3
         obsdatain:
           engine:
             type: H5File
             obsfile: obs/hafs.t{{HH}}z.conventional_tcp_112.nc
             missing file action: "warn"
         obsdataout:
           engine:
             type: H5File
             obsfile: hofx/diag_conventional_tcp_112_t{{HH}}z.nc
             allow overwrite: true
           write multiple files: false
         io pool:
           max pool size: {{POOL_SIZE}}
         observed variables: [stationPressure]
         simulated variables: [stationPressure]
       obs operator:
         name: Identity
         variables:
         - name: stationPressure

       linear obs operator:
         name: Identity

       obs error:
         covariance model: diagonal

       # Observation Pre fitler for domain resize
       obs pre filters:
       - filter: Domain Check
         apply at iterations: 0, 1
         where:
         - variable:
             name: MetaData/latitude
           minvalue: {{MIN_LAT}}
           maxvalue: {{MAX_LAT}}
         action:
           name: reduce obs space
       - filter : Domain Check
         apply at iterations: 0, 1
         where:
         - variable:
             name: MetaData/longitude
           minvalue: {{MIN_LON}}
           maxvalue: {{MAX_LON}}
         action:
           name: reduce obs space

       # Observation Prior Filters (QC)
       obs prior filters:
       - filter: Perform Action
         filter variables:
         - name: stationPressure
         action:
           name: assign error
           error parameter: 75    # 133 Pa 

       # Observation Post Filters (QC)
       # -------------------------------
       obs post filters:
       - filter: Variable Assignment
         assignments:
         - name: DerivedMetaData/Innovation
           type: float
           function:
             name: ObsFunction/Arithmetic
             options:
               variables:
               - name: ObsValue/stationPressure
               - name: HofX/stationPressure
               coefs:
               - 1
               - -1
       - filter: Variable Assignment
         assignments:
         - name: DerivedMetaData/ObsErrorBoundSfcPressure1
           type: float
           function:
             name: ObsFunction/ObsErrorBoundConventional
             options:
               obsvar: stationPressure
               obserr_bound_min: 100
               obserr_bound_max: 300
               obserr_bound_factor: 75.0
       - filter: Background Check
         filter variables:
         - name: stationPressure
         function absolute threshold:
         - name: DerivedMetaData/ObsErrorBoundSfcPressure1
         action:
           name: reject
       obs localizations:
       - localization method: Horizontal Gaspari-Cohn
         lengthscale: 450e3
