     - obs space:
         name: gnssro_metop
         obsdatain:
           engine:
             type: H5File
             obsfile: obs/hafs.t{{HH}}z.gnssro_metop.nc
             missing file action: warn
           obsgrouping:
             group variables: ['sequenceNumber']
             sort variable: 'impactHeightRO' 
             sort order: 'ascending'
         obsdataout:
           engine:
             type: H5File
             obsfile: hofx/diag_gnssro_metop_t{{HH}}z.nc
             allow overwrite: true
         io pool:
           max pool size: {{TOTAL_TASKS}}
         simulated variables: [bendingAngle]
         empty obs space action: skip output
 
       obs operator:
         name: GnssroBndNBAM
         obs options:
           use_compress: 1
           sr_steps: 2
           vertlayer: full
           super_ref_qc: NBAM
           output_diags: true
 
       obs pre filters:
       - filter: Domain Check
         apply at iterations: 0, 1
         where:
         - variable:
             name: MetaData/latitude
           minvalue: {{MIN_LAT}}
           maxvalue: {{MAX_LAT}}
         action:
           name: reduce obs space
       - filter: Domain Check
         apply at iterations: 0, 1
         where:
         - variable:
             name: MetaData/longitude
           minvalue: {{MIN_LON}}
           maxvalue: {{MAX_LON}}
         action:
           name: reduce obs space
 
       obs prior filters:
       # Apply gross check using pccf
       # Step 0-A: Create Diagnostic Flags 
       # Diagnostic flag for pccf
       - filter: Create Diagnostic Flags
         filter variables:  
         - name: bendingAngle 
         flags:
         - name: qfroCheckReject
           initial value: false 
           force reinitialization: true
       
       # Step 0-B: qfro Check  - good: 0, reject: 1
       - filter: Bounds Check
         filter variables:
         - name: bendingAngle
         where:
         - variable:
             name: MetaData/satelliteIdentifier
           is_in: 3-5,421,440,821
         test variables:
         - name: MetaData/qualityFlags
         minvalue: -0.1
         maxvalue: 0.9
         actions:
         - name: set
           flag: qfroCheckReject
         - name: reject
 
       #1. gpstop
       - filter: Domain Check
         filter variables:
         - name: bendingAngle
         where:
         - variable:
             name: MetaData/impactHeightRO
           minvalue: 0. 
           maxvalue: 35000.1
         action:
           name: reject

      #2. metop below 8 km
      - filter: Bounds Check
        filter variables:
        - name: bendingAngle
        where:
        - variable:
            name: MetaData/satelliteIdentifier
          is_in: 3-5
        test variables:
        - name: MetaData/impactHeightRO
        minvalue: 8000.1
        action:
          name: reject
 
       # Observation Post Filters (QC)
       # ----------------------------------------
       obs post filters:
       #3. RONBAM cut off check
       - filter: Background Check RONBAM
         filter variables:
         - name: bendingAngle
         action:
           name: reject
       #4. assign obs error 
       - filter: ROobserror
         filter variables:
         - name: bendingAngle
         errmodel: NBAM
       #5. Obs error inflate
       - filter: Perform Action
         filter variables:
         - name: bendingAngle
         action:
           name: RONBAMErrInflate
       # Inflate Obs Error below 10 km and above 30 km to mimic the GSI hybrid error model
       - filter: Perform Action
         filter variables:
         - name: bendingAngle
         where:
         - variable:
             name: MetaData/impactHeightRO
           maxvalue: 10000.
         action:
           name: inflate error
           inflation factor: 2.
       # --------------------------------
