update obs config with geometry info: true
do test prints: false
read HX from disk: false
run as observer only: false
save posterior mean: false
save posterior ensemble: true
save prior mean: false
save posterior mean increment: false
save posterior ensemble increments: false
save prior variance: false
save posterior variance: false
do posterior observer: false
use control member: false
