update obs config with geometry info: false
do test prints: true
read HX from disk: false
run as observer only: true
save posterior mean: true
save posterior ensemble: false
save prior mean: true
save posterior mean increment: false
save posterior ensemble increments: false
save prior variance: false
save posterior variance: false
do posterior observer: false
use control member: false
