name: PSEUDO
tstep: PT3H
filetype: fms restart
filename is datetime templated: true
datapath: {{ atmosphere_background_path }}
filename_core: '%yyyy%mm%dd.%hh%MM%ss.fv_core.res{{nesttilestrnc}}'
filename_trcr: '%yyyy%mm%dd.%hh%MM%ss.fv_tracer.res{{nesttilestrnc}}'
filename_sfcd: '%yyyy%mm%dd.%hh%MM%ss.sfc_data{{nesttilestrsfc}}'
filename_sfcw: '%yyyy%mm%dd.%hh%MM%ss.fv_srf_wnd.res{{nesttilestrnc}}'
filename_cplr: '%yyyy%mm%dd.%hh%MM%ss.coupler.res'
field io names: *field_io_names
